@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        
        <img class="img-responsive img-circle profilePic" src="~/img/dp.jpeg">
        <!--<li class="col-md-12"><img class="img-responsive" src="@@Url.Action("ShowPic", "Profile", new { id = User.Identity.GetUserId() })"></li> -->
    <li>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
        <a href="@Url.Action("LogOff", "Account")" class="nav-link"><li><span class="glyphicon  glyphicon-log-out"></span>Log Off </li></a>
    
    }
}
else
{
    
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    
}
