@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="profilePic">
        <img class="img-responsive" src="~/img/login_background.jpg">
    </div>

    <!--<li class="col-md-12"><img class="img-responsive" src="@@Url.Action("ShowPic", "Profile", new { id = User.Identity.GetUserId() })"></li> -->
    <li data-toggle="collapse" data-target="#logoutNavHeader" class="collapsed">
        <a><i class="fa fa-sign-out invisible"></i>Welcome @User.Identity.GetUserName()!</a>
    </li>
    <li data-toggle="collapse" data-target="#logoutNav" class="collapsed">
        <a href="@Url.Action("LogOff", "Account")"><i class="fa fa-sign-out"></i> Sign out</a>
    </li>

}
else
{

    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

}
