@using Microsoft.AspNet.Identity

<div class="profilePicture">
    <img src="@Url.Action("ShowPic", "Profile", new { id = User.Identity.GetUserId() })" class="img-responsive" id="navbarpic" style="max-height:400px; overflow:hidden" alt="portfolio Picture" />            
</div>

<a href="@Url.Action("Index", "Profile")" class="nav-link">
    <li data-toggle="collapse" data-target="#profilePicturenav" class="collapsed" style="padding-left:15px;">
        <i class="fa fa-user"></i> Profile
    </li>
</a>

<a href="@Url.Action("LogOff", "Account")" class="nav-link">
    <li data-toggle="collapse" data-target="#logoutNav" class="collapsed" style="padding-left:15px;">
        <i class="fa fa-sign-out"></i> Sign out
    </li>
</a>

<!-- Hide Image if user had not uploaded one yet-->
<script>
    $(document).ready(function () {
        $('#navbarpic').error(function () {
            $(this).hide();
        });
    });
</script>